*{
    margin:0px
}

#main,#canvas{
    border:2px solid black;
    
}
#canvas{
    width:70%;
    margin:auto;
    height: 725px;
} 
#form-body{
   width:500px;
   height:575px;
   margin:auto;
   border:1px solid grey;
   margin-top:32px;
   border-radius:5px;
   padding: 10px;
}